# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

broadcaster/broadcaster_facts.txt
broadcaster/gen_strings.csv
broadcaster/gen_strings_schinese.csv
broadcaster/hero_strings_dc.csv
broadcaster/hero_strings_dc_schinese.csv
broadcaster/item_strings_dc.csv
broadcaster/item_strings_dc_schinese.csv
broadcaster/item_strings_kg.csv
npc/npc_abilities.txt
npc/npc_heroes.txt
npc/npc_units.txt
vscripts/anarchy_bots.lua
vscripts/animation/sequence_functions.lua
vscripts/bots_example/ability_item_usage_generic.lua
vscripts/bots_example/ability_item_usage_lina.lua
vscripts/bots_example/ability_item_usage_sven.lua
vscripts/bots_example/hero_selection.lua
vscripts/bots_example/item_purchase_lina.lua
vscripts/bots_example/mode_defend_ally_generic.lua
vscripts/bots_example/mode_defend_ally_lina.lua
vscripts/bots_example/team_desires.lua
vscripts/DynamicBots.lua
vscripts/game/botsinit.lua
vscripts/game/dkjson.lua
vscripts/game/gameinit.lua
vscripts/GPM.lua
vscripts/SuperBotsE.lua
vscripts/SuperBotsH.lua
vscripts/SuperBotsL.lua
vscripts/SuperBotsM.lua
vscripts/anarchy_bots/armor_mr.lua
vscripts/anarchy_bots/chat.lua
vscripts/anarchy_bots/damage.lua
vscripts/anarchy_bots/dust_tp.lua
vscripts/anarchy_bots/go.lua
vscripts/anarchy_bots/gold_xp.lua
vscripts/anarchy_bots/human_bot.lua
vscripts/anarchy_bots/neutral_items.lua
vscripts/anarchy_bots/pseudo_death.lua
vscripts/anarchy_bots/role_utility.lua
vscripts/anarchy_bots/settings.lua
vscripts/anarchy_bots/stat.lua
vscripts/anarchy_bots/streak.lua
vscripts/anarchy_bots/utilities.lua
